.collapse-btn {
	cursor: pointer;
	color: rgb(1, 34, 87);
	display: flex;
	align-items: center;
	font-weight: 500;
}
.collapse-btn .icon {
	font-size: 1.3em;
	margin-left: 15px;
	color: rgb(18, 16, 58);
}
