@import url("https://fonts.googleapis.com/css2?family=Waterfall&display=swap");
.my-order-heading {
  font-family: "Waterfall", cursive;
  font-size: 6rem;
  text-shadow: 4px 4px 4px #aaa;
}

.food-area nav li {
  color: black;
  cursor: pointer;
  font-weight: 600;
}
.food-area nav .active {
  color: rgb(22, 3, 3);
}
.food-area nav .active::after {
  content: "";
  width: 80%;
  margin: 10px auto;
  height: 1px;
  background-color: rgb(22, 2, 5);
  display: block;
}
.food-area .card {
  border: none;
}
.food-area .card-img-top {
  width: 60%;
  display: block;
  padding-top: 15px;
  margin: 0 auto;
}
.food-area div > a {
  color: #000;
}
.food-area div > a:hover {
  text-decoration: none;
}
.food-area .card:hover {
  box-shadow: 0 5px 13px 0px rgb(5, 4, 4);
}
