* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  font-family: "Orange", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}
.header {
  height: 150px;
  border-radius: 10px;
  background-color: #e6645f;
  color: #fff;
  border: solid 2px #e6785c;
}
.main-menu {
  width: 100%;
  height: 150px;
}
.main-nav-list {
  list-style-type: none;
  display: block;
  padding: 13px 40px 0px 25px;
  text-transform: uppercase;
}
.main-nav-list:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: #e47f57;
  margin-top: -2px;
  border-radius: 10px;
}
.rounded-button {
  width: 30px;
  height: 30px;
  background-color: #f06363;
  color: #fff;
  border-radius: 50%;
  border: none;
  position: absolute;
  margin-top: -20px;
}
.me {
  margin-top: -74px;
  margin-left: 198px;
}
.thumbnail-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin: -85px 0 0 210px;
  border: solid 2px #e06565;
}
.thumbnail-avatar {
  width: auto;
  height: 100%;
}
.float-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.secondary-menu {
  width: 280px;
  border: solid 2px #df6969;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 10px 10px 20px #dd6d6d;
}
.secondary-menu:hover {
  box-shadow: 10px 10px 5px #e67373;
}
.secondaty-menu-list {
  height: 82px;
  list-style-type: none;
  padding: 30px 30px 30px 60px;
  border-bottom: solid 1px #db7272;
  color: #e96f6f;
}
.secondaty-menu-list:hover {
  background-color: #e27777;
  color: rgb(243, 132, 132);
  cursor: pointer;
  font-weight: 500;
}
.menu-box {
  padding: 30px;
  text-align: center;
  background-color: #e26868;
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
}
.statistics-value {
  margin-top: -5px;
}
.button-square {
  position: absolute;
  color: #fff;
  border: none;
  border-radius: 10px;
  background-color: #eb6f6f;
  width: 40px;
  height: 20px;
  margin-top: -32px;
  display: block;
  margin-left: 100px;
}
.overview {
  width: 280px;
  border: solid 2px #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 10px 10px 20px #c2c2c2;
}
.overview:hover {
  box-shadow: 10px 10px 5px #c2c2c2;
}
.avatar-container {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 5px #d86f6f;
  margin-top: 40px;
  margin-left: 45px;
}
.avatar {
  width: auto;
  height: 100%;
}
.name {
  text-align: center;
  margin: 30px;
  color: #e76b6b;
}
.name-description {
  margin-top: 30px;
}
.statistics-list {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  width: 33.33%;
  height: 82px;
  margin-top: 15px;
  padding-top: 30px;
  color: #e67272;
}
.green {
  border-top: solid 5px #52eba9;
}
.light-green {
  border-top: solid 5px #d37c7c;
  border-left: solid 1px #e75e5e;
  border-right: solid 1px #e66262;
  margin-left: -5px;
}
.blue {
  border-top: solid 5px #5da6df;
  margin-left: -4px;
}

button:hover {
  box-shadow: 5px 5px 5px #e96262;
  background-color: #e75050;
}
::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-style: italic;
}
:focus {
  outline-color: #e26d6d;
}
@media (min-width: 360px) {
  .thumbnail-container {
    margin: -85px 0 0 247px;
  }
  .me {
    margin-left: 232px;
  }
  .secondary-menu,
  .overview,
  .newsletter {
    width: 320px;
  }
  .avatar-container {
    margin-left: 65px;
  }
}
@media (min-width: 576px) {
  .header {
    width: 100%;
    height: 125px;
  }
  .secondary-menu,
  .overview {
    width: 265px;
    float: left;
  }
  .me {
    margin: 0;
  }
  .main-nav-list {
    display: inline-block;
    padding: 20px 14px 20px 14px;
  }
  .thumbnail-container {
    margin: -4px 0 0 466px;
  }
  .secondaty-menu-list {
    height: 94px;
  }
  .avatar-container {
    margin-left: 37px;
  }
  .newsletter {
    width: 100%;
    height: 290px;
  }
  .newsletter-header {
    margin: 25px 50px;
  }
  .submit {
    margin: 30px;
  }
}
@media (min-width: 768px) {
  .header {
    width: 100%;
    height: 65px;
  }
  .main-menu {
    height: 65px;
  }
  .me {
    float: right;
    margin-right: 47px;
  }
  .thumbnail-container {
    float: right;
    margin: -55px 5px 0 0;
  }
  .secondary-menu,
  .overview {
    width: 360px;
  }
  .secondaty-menu-list {
    height: 82px;
  }
  .avatar-container {
    margin-left: 85px;
  }
}
@media (min-width: 980px) {
  .secondary-menu,
  .overview,
  .newsletter {
    width: 310px;
    float: left;
  }
  .secondary-menu {
    height: 504px;
  }
  .newsletter {
    height: 320px;
  }
  .avatar-container {
    margin-left: 60px;
  }
}
@media (min-width: 1280px) {
  .header {
    height: 82px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #c7e956;
    color: #fff;
    border: solid 2px #5be9ab;
  }
  .main-menu {
    width: 98%;
  }
  .main-nav-list {
    height: 82px;
    list-style-type: none;
    display: inline;
    float: left;
    vertical-align: middle;
    padding: 30px 40px 30px 40px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .main-nav-list:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: #e46363;
    margin-top: -2px;
    border-radius: 10px;
  }
  .me {
    float: right;
  }
  .me:hover {
    background-color: #66f1b5;
  }
  .thumbnail-container {
    margin: 14px -150px 0 0;
  }
  .float-container {
    width: 1240px;
    margin: 0 auto;
  }
  .secondary-menu,
  .overview,
  .newsletter {
    width: 400px;
  }

  .avatar-container {
    margin-left: 105px;
  }
}
