.bg-color {
	background-color: rgb(0, 0, 0);
}

.text-color {
	color: rgb(255, 69, 101);
}

footer img {
	height: 70px;
}

footer a {
	color: #ffffff;
	line-height: 2;
}

footer a:hover {
	color: rgb(74, 0, 192);
}
